configuration/.env
sample-data/*
.DS*
src/FeedbackApi/bin/*
src/FeedbackApi/obj/*
*.dll
src/console/obj/*
src/console/bin/*
src/console/results/*
src/python-ml/.venv
src/python-ml/*.json
.vscode/*
src/console/notebooks/*.json
src/console/notebooks/*.md
src/console/notebooks/*.pdf
