azure-core~=1.32.0
azure-identity~=1.20.0
ipycanvas~=0.13.3
ipykernel~=6.29.5
matplotlib~=3.10.0
notebook~=7.3.2
numpy
openai~=1.64.0
openpyxl~=3.1.5
pandas~=2.2.3
pydantic~=2.10.6
python-dotenv~=1.0.1
