.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  position: relative;
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.05);
}

.card h4 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}
.service-image {
  position: absolute;
  bottom: 10px;  /* Adjust as needed */
  right: 10px;   /* Adjust as needed */
  width: 50px;   /* Adjust the size of the image */
  height: auto;
}
